<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battleships</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <form action="/named-cat" method="post">
      <div class="input-group">
        <input class="form-control" type="text" name="name">
        <div class="input-group-btn">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </form>
</div>
</body>
</html>
