<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battleships</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <% if @name %>
      <h1>My name is <%= @name %></h1>
    <% end %>

    <div style='border: 3px dashed red'>
      <img src='http://bit.ly/1eze8aE' alt='cat'/>
    </div>
  </div>
</body>
</html>
